* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serihttpsf;
    background: url('https://lh3.googleusercontent.com/gps-cs-s/AHVAweoZrSn0Rg2Al4TbRCOZoHxEOmUE3PrdClW2BFPZ5eDruGyiW4_h8eIvLJH1LLgWJVnj37sLPPD4ix2UMQvSqLdDq2dM-ljjY4pwCW7F5HdhkD4wnb0nFzU4UrsSur4GPnNkjThTGA=w408-h345-k-no') no-repeat center center fixed;
    background-size: cover;
}

/* Header */
header {
    background: #0b0101;
    color: #fff;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f4b400;
}

/* Hero */
.hero {
    background: url('https://images.unsplash.com/photo-1501117716987-c8e1ecb210d1') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 20px;
    margin: 10px 0;
}

.btn {
    background: #f4b400;
    padding: 10px 20px;
    color: rgb(254, 253, 253);
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #fff;
}

/* Sections */
section {
    padding: 60px 50px;
    text-align: center;
}

.services .service-box {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.service {
    width: 30%;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 5px;
}

.gallery-box {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.gallery-box img {
    width: 30%;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #fefefe;
    color: white;
    text-align: center;
    padding: 15px;
}
.menu {
    background: #f9f9f9;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.menu-box {
    width: 40%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.menu-box h3 {
    margin-bottom: 15px;
}

.menu-box ul {
    list-style: none;
}

.menu-box ul li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

/* Veg Styling */
.veg h3 {
    color: green;
}

/* Non-Veg Styling */
.nonveg h3 {
    color: #c0392b;
}
.contact {
    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url('https://images.unsplash.com/photo-1522708323590-d24dbb6b0267') no-repeat center center/cover;
    color: white;
}


